.fixNav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000000;
}

.cart-body {
    z-index: 999;
}

.inner-header {
    background-color: #ffffff
}

.inner-title, .beta-breadcrumb, .beta-breadcrumb a {
    color: black
}

.main-menu > ul.l-inline > li > a {
    color: #fff;
    padding: 10px 35px
}

/*style by bach*/
.fleft {
    float: left;
    width: 100%;
}

.fright {
    float: right;
}

.col-concept {
    flex: 1 1 28.98%;
    max-width: 258px;
}

.col-medium {
    min-width: 50px;
    max-width: 60px;
}

.col-channel {
    min-width: 100px;
    max-width: 133px;
}

.col-program {
    max-width: 202px;
}

.col-airdate {
    min-width: 60px;
    max-width: 76px;
}

.col-county {
    max-width: 64px;
}

.col-submit {
    max-width: 72px;
}

.row-title .mobile-show {
    flex: 1 1 60.22%;
}

.mobile-show {
    flex: 1 1 60.22%;
    display: flex;
    align-items: center;
    width: 100%;
}

.col-click {
    flex: 1 1 40px;
}

/*////////*/
.text-style {
    text-transform: uppercase;
    color: #ffffff;
    font-family: DinPro;
}

h2.title-page {
    font-size: 36px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 18px;
}

.btn-add-claim {
    box-shadow: 4px 4px 10px rgba(46, 47, 53, 0.2);
    background-color: #f25a5a;
    font-size: 19px;
    font-weight: 400;
    line-height: 32px;
    padding: 3px 16px 5px 14px;
    border-radius: 99px;
    margin-bottom: 13px;
    display: inline-block;
}

.row-title,
.row-content,
.col-content {
    display: flex;
}

.table-claims {
    margin-bottom: 14px;
}

.row-background {
    box-shadow: 4px 4px 10px rgba(46, 47, 53, 0.2);
    border-radius: 4px;
    overflow: hidden;
    background: #ffffff;
}

.table-concept .row-background {
    background-color: #eeeeee;
}

.table-submitted .row-background {
    background: #ffffff;
}

.row-background .row-content:not(:last-child), .row-background > form:not(:last-child) {
    border-bottom: 1px solid #c5c5c5;
}

.row-content {
    min-height: 50px;
}

.col-concept, .mobile-show > div {
    padding-right: 5px;
}

.col-content .col-submit {
    padding-right: 0;
}

.table-concept .col-content .col-submit {
    text-align: right;
}

.row-content .col-click {
    background-color: #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-content .col-click img {
    cursor: pointer;
}

.col-content {
    width: calc(100% - 40px);
    padding: 7px 8px 10px 16px;
    align-items: center;
}

.table-claims .row-title .text-style {
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
}

.row-title {
    align-items: baseline;
    width: calc(100% - 40px);
    padding: 0 8px 0 16px;
}

.table-claims .row-title .col-concept.text-style {
    font-size: 26px;
    transform: translate(-16px);
}

.table-claims .col-submit a {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    padding: 4px 12px;
    border-radius: 29px;
    background-color: #aaaaaa;
    cursor: pointer;
}

.table-claims .col-submit a:hover {
    color: #fff;
    text-decoration: none;
}

.table-claims .col-submit .btn-claim {
    background-color: #f25a5a;
}

.table-claims .col-submit .btn-claim:hover {
    background-color: #4395C9;
}

.col-content > div {
    color: #000000;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 400;
    line-height: normal;
}

.col-content .col-concept {
    font-size: 14px;
}

.col-content .col-county {
    text-transform: uppercase;
}

.style-mobi {
    display: none;
}

@media (min-width: 768px) {
    .mobile-show {
        display: flex !important;
        transition: none !important;
        height: auto !important;
    }
}

/*perfect pixel*/
.content.page-claims {
    padding: 27px 28px 17px 22px;
    max-width: 980px;
}

.page-claims .table-concept .row-content .col-concept {
    flex: 1 1 38%;
}

.btn-warning1 {
    display: flex;
    width: 100%;
}

.modal .btn-warning1 {
    justify-content: center;
}

@media (max-width: 992px) {
    .table-claims .row-title .text-style {
        font-size: 13px;
    }
}

@media (max-width: 767px) {
    .hide-jq {
        display: none;
    }

    .style-mobi {
        display: inline-block;
        color: #f25a5a;
        width: 110px;
    }

    .col-content .mobile-show {
        order: 3;
        flex-wrap: wrap;
        font-size: 14px;
        padding-top: 5px;
    }

    .col-content {
        flex-wrap: wrap;
    }

    .col-content .col-concept {
        flex: 1 1 69%;
        max-width: none;
        min-height: 32px;
        display: inline-flex;
        align-items: center;
    }

    .col-content .col-submit {
        orphans: 2;
        flex: 1 1 20%;
    }

    .mobile-show .fleft {
        float: none;
    }

    .col-medium, .col-channel, .col-program, .col-airdate, .col-county, .table-submitted .col-submit {
        display: none;
    }

    .mobile-show .col-medium, .mobile-show .col-channel, .mobile-show .col-program, .mobile-show .col-airdate, .mobile-show .col-county, .mobile-show .col-submit {
        display: block;
        flex: 100%;
        width: 100%;
        text-align: left;
        max-width: none;
        padding-right: 0;
    }

    .content.page-claims {
        padding: 27px 15px 17px 15px;
    }

    .col-concept {
        flex: 1 1 50%;
    }

    .row-title {
        width: calc(100% - 30px);
    }

    .row-content {
        position: relative;
    }

    /*footer mobile*/
    .footer-left, .footer-right {
        margin: 15px auto;
        width: 100%;
        float: none;
        display: inline-block;
        text-align: center;
    }

    /*some popup*/
    #claims-info .modal-content {
        width: calc(100% - 20px);
        left: 10px;
        right: 10px;
        padding: 20px;
        display: table;
    }

    .data-evidence {
        word-break: break-all;
    }

    /*page edit-claim*/
    p.btn-agreement1 {
        flex-wrap: wrap;
        max-width: none;
        justify-content: space-around;
        width: 100%;
    }

    .page-claim .claim-cancel, .page-claim .claim-submit, .page-claim .claim-save {
        margin: 20px auto;
        max-width: 40%;
        justify-content: space-around;
        flex: 1 1 50%;
    }

    #idSubmitClaim .btn-warning1 .btn {
        margin: auto 10px;
        max-width: 50%;
    }

    /*page list-song-page*/
    .list-song-page .modal-content form {
        display: flex;
        flex-wrap: wrap;
    }

    .list-song-page .modal-content form .btn-warning1 {
        align-items: center;
    }

    .list-song-page .modal-content form .btn-warning1 .btn {
        margin: auto;
    }

    p.contributor-radio2 {
        width: 100%;
        margin: auto;
    }

    p.contributor-radio2 label {
        display: block;
        margin: 10px auto;
        text-align: left;
        padding-right: 20px;
    }

    .modal-add-song2 {
        max-width: 400px;
    }

}

/*page songs*/
.list-song-page.content {
    padding: 29px 18px 19px 12px;
    max-width: 960px;
}

.list-song-page p.btn-add-song3 {
    margin: 20px 0 6px 0;
}

.concept-songs {
    margin-top: 0px;
}

.list-song-page .concept-songs .row-background {
    background-color: #eeeeee;
}

.table-songs .row-title .col-concept.text-style {
    font-size: 26px;
    transform: translate(-16px);
}

.table-songs .row-title .mobile-show > div {
    font-size: 12px;
    letter-spacing: 1px;
}

.table-songs .row-title {
    padding-right: 0;
}

.table-songs .col-concept {
    flex: 1 1 30%;
    max-width: 270px;
}

.table-songs .row-title .song-composer {
    max-width: 43%;
}

.table-songs .row-title .song-lyricists {
    max-width: 40%;
}

.table-songs .row-title .song-date {
    max-width: 17%;
    padding-right: 0;
    text-align: right;
}

.table-songs .btn-published-song2, .table-songs .color-pencil {
    width: 40px;
    height: auto;
    padding: 0;
    text-align: center;
}

.row-content .song-title {
    width: 100%;
    max-width: 271px;
    font-size: 14px;
    flex: 1 1 32.12%;
}

.table-songs .get-info-claim {
    background-color: #eeeeee;
}

.dowload_music {
    text-align: center;
}

.table-songs .mobile-show {
    width: 70%;
}

.table-songs .row-content .mobi-song-detail {
    flex: 1 1 51.12%;
}

.row-content .song-composer {
    flex: 1 1 54.82%;
}

.row-content .song-lyricists {
    flex: 1 1 29.76%;
}

.song-download, .song-play {
    flex: 1 1 50px;
    max-width: 50px;
    width: 100%;
}

.row-content .mobi-song-date {
    flex: 1 1 59px;
    max-width: 59px;
}

.row-content .song-date {
    padding-right: 0;
    min-width: 69px;
}

.concept-songs2 .row-content > .padding-zero {
    background-color: #DDDDDD;
    display: flex;
    align-items: center;
}

.concept-songs2 .row-title {
    width: calc(100% - 140.11px);
}

.list-song-page .concept-songs2 .col-content {
    padding: 10px 5px 10px 16px;
}

/*.concept-songs2 .table-songs .col-concept{*/
/*flex: 1 1 32.2%;*/
/*}*/
.concept-songs2 .table-songs .mobile-show {
    flex: 1 1 67.8%;
}

.concept-songs2 .table-songs .td-composers {
    flex: 1 1 39.3%;
}

.concept-songs2 .table-songs .td-lyricists {
    flex: 1 1 44.89%;
}

.concept-songs2 .table-songs .td-last-saved {
    flex: 1 1 15.81%;
    padding-right: 0;
}

.concept-songs2 .table-songs .col-content .col-concept {
    flex: 1 1 25.73%;
}

.concept-songs2 .table-songs .col-content .mobile-show {
    flex: 1 1 59.19%;
}

.concept-songs2 .table-songs .col-content .data-songs-play {
    flex: 1 1 3.36%;
    max-width: 30px;
    min-width: 30px;
    text-align: center;
}

.concept-songs2 .table-songs .col-content .data-submit {
    flex: 1 1 10.62%;
    width: 70.11px;
    max-width: 70.11px;
    position: relative;
}

.concept-songs2 .table-songs .col-content .data-submit .btn {
    font-size: 14px;
}

@media (max-width: 767px) {
    .row-content .mobi-song-date {
        max-width: 100%;
    }

    .list-song-page.content {
        padding: 20px 10px;
    }

    .row-content .song-title {
        max-width: calc(100% - 60px);
    }

    .song-download, .song-play {
        max-width: 30px;
    }

    .row-content .mobi-song-date, .table-songs .row-content .mobi-song-detail {
        order: 2;
        flex: 1 1 100%;
        width: 100%;
    }

    .row-content .mobi-song-date {
        padding-top: 0;
    }

    .row-content .song-composer, .row-content .song-lyricists {
        flex: 1 1 100%;
        width: 100%;
    }

    .concept-songs2 .table-songs .col-content .col-concept {
        flex: 100%;
        max-width: calc(100% - 115px);
    }

    .concept-songs2 .table-songs .col-content .mobile-show > div:not(:last-child) {
        /*padding-bottom: 10px;*/
    }
}
/*/// nghich*/
.menu-mobi{
    display: none;
}
@media (max-width: 767px) {
    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .navbar{
        min-height: auto;
        flex: 100%;
    }
    .navbar-nav{
        margin: 0;
        padding: 7.5px 15px;
    }
    .header{
        padding: 22px 10px;
    }
    .active-menu:before{
        left: 0;
    }

    .navbar-collapse{
        /*height: 0;*/
        overflow: hidden;
        /*transition-duration: 0.6s;*/
        padding: 0 0 15px 0;
        position: fixed;
        top: 50px;
        left: 0;
        background: rgba(255, 255, 255, 0.8);
        width: 100%;
        height: 100%;
        z-index: 9;
        max-height: none;
    }
    .menu-mobi {
        background: #f25a5a;
        padding: 0 15px;
        /*transition-duration: 1s;*/
        width: 100%;
        left: 0;
        right: 0;
        top: 0;
        animation: abc 1s 1 forwards;
        align-items: center;
        position: fixed;
        z-index: 9;
    }
    @keyframes abc {
        from{
            opacity: 0;
            height: 0;

        }
        to{
            height: 50px;
            opacity: 1;

        }
    }
    .menu-fixed .menu-mobi {
        display: flex;
    }
    .menu-fixed .fix-menu{
        position: fixed;
        top: 50px;
        display: block;
        left: 0;
        background: rgba(255, 255, 255, 0.8);
        width: 100%;
        height: 100%;
        z-index: 9;
        max-height: none;
        transition: .25s ease-in-out;
    }
    .menu-fixed .rev-slider{
        position: relative;
        /*padding-top: 50px;*/
        animation: test 1s 1 ;
        animation-fill-mode: forwards;
    }
    @keyframes test {
        from{
            /*transform: translate(0, 0);*/
            padding-top: 0;
        }
        to{
            /*transform: translate(0, 50px);*/
            padding-top: 50px}
    }
    /* Icon 1 */

    #nav-icon1 {
        width: 32px;
        height: 30px;
        position: relative;
        /*margin: 50px auto;*/
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
    }

    #nav-icon1 span {
        display: block;
        position: absolute;
        height: 6px;
        width: 100%;
        background: #000000;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    #nav-icon1 span:nth-child(1) {
        top: 0px;
    }

    #nav-icon1 span:nth-child(2) {
        top: 12px;
    }

    #nav-icon1 span:nth-child(3) {
        top: 24px;
    }

    #nav-icon1.change span:nth-child(1) {
        top: 14px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
    }

    #nav-icon1.change span:nth-child(2) {
        opacity: 0;
        left: -60px;
    }

    #nav-icon1.change span:nth-child(3) {
        top: 14px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }
}
