@font-face {
    font-family: DINPro;
    src: url("../fonts/DINPro-CondBlack.otf") format("opentype");
}
body {
    margin: 0 auto;
    font-family: "Open Sans";
}
.header {
    height: auto;
    padding: 22px 10px 0;
    max-width: 996px;
    margin: auto;
}
.menu-nav ul {

    list-style-type: none;
    margin-top: 0px;
    width: 100%;
}
.menu-nav li {
    display: inline-block;
    line-height: 40px;
    margin-right: 23px;
}
.menu-nav a {
    text-decoration: none;
    color: #000;
    display: block;
}
.menu-nav a:hover {
    font-weight: bold;
}
.menu-right {
    float: right;
}
.footer {
    height: 150px;
    background-color: #333333;
}
.footer-left {
    float: left;
    margin: 50px 0 0 70px;
}
.footer-left p.row1 {
    background-color: #EA595C;
    text-align: center;
    color: #e9d2d2;
    padding: 5px 5px;
    font-size: 16px;
    letter-spacing: 0.5px;
}
.footer-left p.row2 {
    color: white;
    font-weight: bold;
    font-size: 16px;
    font-family: DINPro;
    letter-spacing: 0.5px;
}
.footer-right {
    float: right;
    color: #798E87;
    margin: 54px 70px 0px 0px;
    font-size: 13px;
    text-align: right;
    line-height: 20px;
}
.rev-slider{
    min-height: 290px;
    background-image: linear-gradient(to right, #4794CC , #D45EF2);
}
.content {
    max-width: 1080px;
    height: auto;
    padding: 19px 69px;
    margin-top: 2px;
    margin: auto;
}
.content p.title-content {
    font-size: 36px;
    color: white;
    font-family: DINPro;
    line-height: 32px;
    margin: 0 0 18px 0;
}
.content-option {
    width: calc(50% - 10px);
    /*height: 181px;*/
    text-align: center;
    background-color: white;
    float: left;
    line-height: 46px;
}
.content-option-1 {
    /*margin-right: 20px;*/
}
.title-option {
    font-size: 22px;
    font-family: DINPro;
}
p.note1 {
    font-size: 11px;
    color: red;
    font-weight: bold;
}
.btn {
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
    font-size: 19px;
    font-family: DINPro;
    background-color: #F35667;
    padding: 5px 12px;
    /*margin: 16px auto 2px;*/
    border-radius: 23px;
}
.btn1 {
    background-color: #AAAAAA;
}
.header .user {
    position: relative;
    float: right;
}

.header .user p.count-news {
    position: absolute;
    background-color: red;
    color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 11px;
    padding: 0 5px;
    bottom: 17px;
    left: 12px;
}
.dropdown-user {
    float: right;
    margin-left: 15px;
}
.header .dropdown-user img {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.fa-bell-o:before {
    font-size: 27px;
}
.navbar {
    border: none;
    background-color: white;
}
.navbar-collapse {
    padding-left: 0px;
}
.nav>li>a {
    padding: 10px 25px 10px 0px;
}
.navbar-inverse .navbar-nav>li>a {
    color: #4e4949;
}
.navbar-inverse .navbar-nav li a:hover {
    color: #000;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
    background-color: #fff;
    color: #000;
}
.border-horizon {
    border-top: 3px solid red;
    display: none;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    /*width: 391px; !* Could be more or less, depending on screen size *!*/
    max-width: 391px;
    width: 100%;
    /*min-height:290px;*/
    padding: 30px 30px;
    text-align: center;
    border-radius: 0;
}

@media (max-width: 767px) {
    .modal-content {
        padding: 20px 15px;
    }
}
/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: relative;
    z-index: 2;
    right: 195px;
    top: 15px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}
.btn-cancel {
    margin: 0 10px;
    float: left;
    background-color: #666666;
}
p.title-home-warning {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 12px;
}
p.text-home-warning {
    font-size: 15px;

}
p.btn-warning1 {
    margin-top: 20px;
}
p.btn-warning1 .list-copy-song{
    margin: 0 10px;
}
p.checked1 {
    margin-top: 11px;
    font-size: 11px;
}
p.checked1 img {
    margin: 0px 7px -3px 0;
    position: relative;
    top: 16px;
}
p.checked1 span {
    margin-left: -14px;
}
p.checked2 {
    margin-top: 20px;
}
.checked1.checked2{
    max-width: 228px;
    margin: 20px auto 0;
}
.checked1.checked2 .squaredTwo{
    position: relative;
    left: 0;
    width: 30px;
    float: left;
}
.checked1.checked2 .squaredTwo label{
    top: 0;
}
.checked1.checked2 .home-confirm{
    padding-left: 40px;
    margin-left: 0;
}
p.checked2 input {
    top: 10px;
    position: relative;
}
p.checked2 span label {
    left: 79px; top: 233px;
}
p.checked2 span.text-checked-line1 {
    margin-left: 11px;
}
p.checked2 span.text-checked-line2 {
    margin-left: -33px;
}
p.note-before-read {
    font-size: 14px;
    color: #e1e1e6;
}
.content-agreement {
    height: auto;
    padding:27px 78px 27px 70px;
}
.content-agreement-detail {
    width: 100%;
    height: 243px;
    background-color: white;
    margin-top: 16px;
    padding: 16px 22px;
    font-size: 14px;
    overflow-y: scroll;
    line-height: 19px;
    letter-spacing: 0.2px;
    border-radius: 4px;
}
.content p.title-content-agreement {
    font-family: DINPro;
    font-size: 36px;
    margin-bottom: 25px;
}
.check-agreement {
    text-align: center;
    color: white;
    font-size: 14px;
    margin-top: 15px;
}
p.btn-agreement1 {
    display: flex;
    max-width: 216px;
    margin: 9px auto auto auto;
    text-align: center;
    align-items: center;
}
.btn-continue {
    margin: auto;
    float: left;
    background-color: #AAAAAA;
    padding: 8px 12px;
}
.btn-agreement1 .btn-continue {
    width: auto;
    display: block;
    box-shadow: 4px 4px 10px rgba(46, 47, 53, 0.2);
    margin: auto;
}
.content-agreement .btn-agreement1 .btn-continue {
    margin: auto 10px auto auto;
}
.btn-agreement1 a{
    width: auto;
    display: inline-table;
}
p.btn-warning1 a{
    text-decoration: none;
    color: white;
}
.content-agreement-detail p:not(:last-child) {
    margin-bottom: 21px;
}
.check-agreement span {
    position: relative;
    top: -5px;
    left: 0;
    margin-left: 16px;
}
.navbar {
    min-height: 41px;
    margin-bottom: 0px;
}
.modal-content-warning-agreement {
    width: 310px;
    height: 150px;
    padding-top: 27px;
    margin-top: 410px;
}
.modal-content-warning-agreement p.btn-ok-warning-agreement {
    font-size: 14px;
}
/* SQUARED TWO */
span.squaredTwo {

}

span.squaredTwo label {
    cursor: pointer;
    position: absolute;
    width: 28px;
    height: 28px;
    left: 0;
    border-radius: 5px;
    top: -3px;
    -webkit-box-shadow: inset 2px 2px 4px rgba(46, 47, 53, 0.25);
    -moz-box-shadow: inset 2px 2px 4px rgba(46, 47, 53, 0.25);
    box-shadow: inset 2px 2px 4px rgba(46, 47, 53, 0.25);
    background: #F2E7F7;
}

span.squaredTwo label:after {
    opacity: 1;
    content: '';
    position: absolute;
    width: 16px;
    height: 10px;
    background: transparent;
    top: 7px;
    left: 6px;
    border: 4px solid #B1B1B1;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}



.squaredTwo input[type=checkbox]:checked + label {
    background-image: linear-gradient(45deg, #7cdb00 0%, #00b83d 100%);
}

.squaredTwo input[type=checkbox]:checked + label:after {
    opacity: 1;
    content: '';
    position: absolute;
    width: 16px;
    height: 10px;
    background: transparent;
    top: 0;
    left: 0;
    right: 0;
    bottom: 3px;
    margin: auto;
    border: 4px solid white;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

span.squaredThree label {
    cursor: pointer;
    position: absolute;
    width: 28px;
    height: 28px;
    left: 0;
    border-radius: 5px;
    top: -3px;

    -webkit-box-shadow: inset 2px 2px 4px rgba(46, 47, 53, 0.25);
    -moz-box-shadow: inset 2px 2px 4px rgba(46, 47, 53, 0.25);
    box-shadow: inset 2px 2px 4px rgba(46, 47, 53, 0.25);

    background: #F2E7F7;

}

span.squaredThree label:after {
    opacity: 1;
    content: '';
    position: absolute;
    width: 16px;
    height: 10px;
    background: transparent;
    top: 7px;
    left: 6px;
    border: 4px solid #B1B1B1;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}



.squaredThree input[type=checkbox]:checked + label {
    background-image: linear-gradient(45deg, #7cdb00 0%, #00b83d 100%);
    background-color: #64D406 !important;
}

.squaredThree input[type=checkbox]:checked + label:after {

    opacity: 1;
    content: '';
    position: absolute;
    width: 16px;
    height: 10px;
    background: transparent;
    top: 7px;
    left: 6px;
    border: 4px solid white;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
span.squaredFour label {
    cursor: pointer;
    position: absolute;
    width: 28px;
    height: 28px;
    left: 0;
    border-radius: 5px;
    top: -3px;

    -webkit-box-shadow: inset 2px 2px 4px rgba(46, 47, 53, 0.25);
    -moz-box-shadow: inset 2px 2px 4px rgba(46, 47, 53, 0.25);
    box-shadow: inset 2px 2px 4px rgba(46, 47, 53, 0.25);

    background: #F2E7F7;

}

span.squaredFour label:after {
    opacity: 1;
    content: '';
    position: absolute;
    width: 16px;
    height: 10px;
    background: transparent;
    top: 7px;
    left: 6px;
    border: 4px solid #B1B1B1;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}



.squaredFour input[type=checkbox]:checked + label {
    background-image: linear-gradient(45deg, #7cdb00 0%, #00b83d 100%);
    background-color: #64D406 !important;
}

.squaredFour input[type=checkbox]:checked + label:after {

    opacity: 1;
    content: '';
    position: absolute;
    width: 16px;
    height: 10px;
    background: transparent;
    top: 7px;
    left: 6px;
    border: 4px solid white;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
span.squaredFive label {
    cursor: pointer;
    position: absolute;
    width: 28px;
    height: 28px;
    left: 0;
    border-radius: 5px;
    top: -3px;

    -webkit-box-shadow: inset 2px 2px 4px rgba(46, 47, 53, 0.25);
    -moz-box-shadow: inset 2px 2px 4px rgba(46, 47, 53, 0.25);
    box-shadow: inset 2px 2px 4px rgba(46, 47, 53, 0.25);

    background: #F2E7F7;

}

span.squaredFive label:after {
    opacity: 1;
    content: '';
    position: absolute;
    width: 16px;
    height: 10px;
    background: transparent;
    top: 7px;
    left: 6px;
    border: 4px solid #B1B1B1;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}



.squaredFive input[type=checkbox]:checked + label {
    background-image: linear-gradient(45deg, #7cdb00 0%, #00b83d 100%);
    background-color: #64D406 !important;
}

.squaredFive input[type=checkbox]:checked + label:after {

    opacity: 1;
    content: '';
    position: absolute;
    width: 16px;
    height: 10px;
    background: transparent;
    top: 7px;
    left: 6px;
    border: 4px solid white;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}




/*
input#squaredTwo + label {
	color: #B0B0B0;
    background: #eaeaea !important;
}


input#squaredTwo:checked + label {
    color: white;
    background: #47d247 !important;
}
*/
.content-add-song {
    overflow: hidden;
}
.content-add-song form{
    float: left;
}
.add-song-1 {
    float: left;
    width: 42%;
    height: auto;
    max-width: 380px;
}
.add-song-2 {
    float: left;
    max-width: 531px;
    margin-left: 1%;
    width: 57%;
    max-height: 100%;
}
.audio-files {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: white;
    border-radius: 4px;
    position: relative;
}
.title-add-song {
    font-family: DINPro;
    line-height: 28px;
    text-transform: uppercase;
    font-size: 26px;
    color: white;
    margin-bottom: 10px;
}
.add-song-2{
    position: relative;
}
.title-role{
    position: absolute;
    left: 40%;
    top: 5px;
    font-size: 14px;
}
.role-mobi{
    display: none;
}
@media (max-width:767px) {
    .title-role{
        display: none !important;
    }
    .role-mobi{
        display: inline-block;
        padding-right: 5px;
        font-family: DINPro;
        font-size: 13px;
    }
}
.title-share{
    position: absolute;
    right: 107px;
    top: 5px;
    font-size: 14px;
}
.song-info {
    width: 380px;
    height: auto;
    background-color: white;
    padding: 17px 20px;
    margin-top: 5px;
    border-radius: 4px;
    display: inline-block;
}
p.sub-title-add-song {
    color: #ECE7FF;
    font-size: 15px;
}
.btn-add-contributor {
    margin: 10px 0px 15px;
    padding: 8px 12px;
}
p.btn-add-song1 {
    float: left;
    width: 42%;
    max-width: 380px;
    position: relative;
    margin: 20px auto auto 0;
}
p.btn-agreement1 .btn-continue{
    margin: 0;
}
p.btn-agreement1 .btn-save-add-song{
    margin: 0 0 0 10px;
}

.btn-add-song1 .cancel-add{
    display: flex;
    margin: 0 0 0 13px;
    justify-content: center;
    align-items: center;
    height: 33px;
    cursor: pointer;
}
.btn-add-song2 {
    margin: 0 11px 0px 0px;
    box-shadow: 3px 4px 15px 0px #6658b3;
    -moz-box-shadow: 3px 4px 15px 0px #6658b3;
    -webkit-box-shadow: 3px 4px 15px 0px #6658b3;
}
p.btn-add-song1 a {
    font-size: 15px;
    color: #e4e4ea;
}
.label-title {
    font-size: 12px;
    color: #838383;
    margin-bottom: 4px;
}
.form-title {
    height: 46px;
    background-color: #f2e7f7;
}
.form-duration {
    width: 20%;
    float: left;
    margin: 0 54px 0 0px;
}
p.add-song-duration {
    margin-bottom: -21px;
}
p.add-song-duration span{
    position: relative;
    top: 12px;
    right: 46px;
    color: #aca0a0;
}
p.second span{
    position: relative;
    top: 13px;
    right: 45px;
    color: #aca0a0;
}
.form-group img {
    margin: -3px 4px;
}
.clear {
    clear: both;
}
form p.check-song {
    margin: -10px 0 12px 0;
}
.check-agreement2 {
    display: table;
    margin-left: -17px;
}
span.color-text-checkbox {
    color: #715f5f;
    font-size: 12px;
    margin-left: 18px !important;
}
span.color-text-checkbox img {
    position: relative;
    top: 4px;
}
span.color-text-checkbox2 img {
    left: 3px;
}
.box {
    width: 156px;
    float: right;
    margin-right: 16px;
    margin-top: 14px;
    margin-bottom: 13px;
}
.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile-1 + label {
    color: #fff;
    background-color: #F35667;
}
.inputfile + label {

    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    border-radius: 23px;
    padding: 7px 36px;
}
.inputfile-7 + label {
    padding: 7px 10px;
}
.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}
svg:not(:root) {
    overflow: hidden;
}
input[type=file] {
    display: none;
}
.border {
    border-top: 2px solid #e4e3e3;
    clear: both;
    /*max-width: 541px;*/
}
span.option-audio {
    float: left;
    margin: 15px 19px;
    color: #000000;
    font-size: 12px;
    display: flex;
}
span.option-audio img {
    position: relative;
    top: -1px;
    left:5px;
}
/*
.contributors {
	height: 45px;
	background-color: white;
}
*/
.contributors {
    position: relative;
    /*height: 49px;*/
    background-color: white;
    /*border-bottom: solid 2px #eeeeee;*/
    /*border-radius: 4px;*/
    display: flex;
    align-items: center;
    overflow: hidden;
    box-shadow: 4px 4px 10px rgba(46, 47, 53, 0.2);
}
.contributors:not(:last-child){
    border-bottom: solid 2px #eeeeee;
}
#note_contributor .contributors:last-child{
}
/*.contributors:first-child{*/
    /*border-top-left-radius: 4px;*/
    /*border-top-right-radius: 4px;*/
    /*border-bottom-left-radius: 4px;*/
    /*border-bottom-right-radius: 4px;*/
/*}*/
/*.contributors:last-child{*/
    /*border-top-left-radius: 0;*/
    /*border-top-right-radius: 0;*/
/*}*/
.contributors .border{
    display: none;
}
.contributors:last-child {
    border-bottom: none;
}
.contributors .fa-remove {
    float: right;
    color: #f35667 !important;
    border: 1px solid #EEEEEE;
    width: 40px;
    height: 100%;
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border-bottom: 2px solid #ddd;*/
    position: absolute;
    right: 0;
    top: 0px;
}

.box2 label span{
    font-size: 19px;
    font-family: DinPro;
}
.contributors .fa-remove:before {
    font-size: 18px;
    float: right;
    margin: auto;
}
.contributors .fa-pencil {
    position: absolute;
    /*top: 14px;*/
    /*right: 10%;*/
    right: 56px;
    font-size: 15px;
    color: #f35667;
    cursor: pointer;
}

.contributors-name {
    /*position: absolute;*/
    /*top: 12px;*/
    /*left: 10px;*/
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
    max-width: 40%;
}

.role {
    position: absolute;
    /*left: 210px;*/
    left: 40%;
    /*top: 14px;*/
    font-size: 11px;
    color: #4e4646;
}
.ratio-percent {
    position: absolute;
    right: 103px;
    /*top: 14px;*/
    font-size: 14px;
}
.percent-share {
    margin-left: 157px;
    font-size: 15px;
}
.form-control-pro {
    height: 46px;
    background-color: #F2E7F7;
}
.label-title-2 {
    margin-top: 12px;
}
#fileLabel {
    /*float: right;*/
    /*margin-right: 126%;*/
    /*margin-top: 22px;*/
    /*font-weight: normal;*/
    /*width: 300px;*/
    /*color: #b5b2b2;*/
}
.box-audio-files{
    display: flex;
    flex-wrap: wrap;
    /*padding: 15px;*/
    position: relative;
}
.audio-files .option-audio{
    width: auto;
    margin: 0;
    top: 15px; left: 15px;
    position: absolute;
}
.audio-files #fileLabel, .audio-files #fileLabel22{
    width: auto;
    margin: 0;
    padding: 40px 10px 15px 15px;
    float: left;
    font-weight: normal;
    color: #000000;
    opacity: 0.5;
}
.audio-files #fileLabel.name-song, .audio-files #fileLabel22.name-song{
    opacity: 1;
    font-size: 14px;
}
.audio-files .box-audio-files .box .fa-remove{
    max-width: 40px;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
}
.audio-files .box-audio-files .box .fa-remove:before{
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    margin: auto;
    width: 14px;
    height: 18px;
}
.audio-files .box{
    width: 100%;
    float: left;
    margin: 0;
    display: flex;
}
.audio-files .box .btn{
    margin: auto 15px auto auto;
}
#fileLabel22 {
    margin-right: 126%;
}
.instrumental-2 {
    float: right;
    margin-right: 136%;
    font-weight: normal;
    width: 300px;
    color: #b5b2b2;
}
.add-margin-top {
    margin-top: 19px;
}
.modal-upload-song {
    max-width: 390px;
    margin: auto;
    text-align: unset;
}
p.title-upload-song {
    text-align: left;
    font-family: DinPro;
    font-size: 26px;
    line-height: 32px;
    width: 100%;
}
.btn-choose-file {
    margin: -5px 0 10px 0;
    display: flex;
    align-items: center;
    margin-top: 23px;
}
p.text-upload-audio {
    font-size: 14px;
    color: #a59898;
}
.btn-upload-audio {

    padding: 11px 12px;
}
p.btn-choose-file a {
    float: left;
    margin: auto 10px;
    color: black;
    cursor: pointer;
}
.btn-upload-audio2 {
    float: left;
    background-color: #b5b0b1;
}
.btn-upload-audio3 {
    margin: 0 0;
}
.modal-add-contributor {
    max-width: 392px;
    max-height: 520px;
    margin: 0px auto;
    text-align: unset;
    overflow: auto;
    padding: 23px 30px;
    width: 100%;
}
.btn-add-contributor2 {
    background-color: #AAAAAA;
}
input[type=radio] {
    width: 27px;
    height: 27px;
}
p.btn-choose-file input[type=radio]:checked {
    background-color: yellow;
}
p.btn-choose-file label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 35px;
    padding-bottom: 3px;
    margin-right: 14px;
    font-size: 14px;
}
input[type=radio] {
    display: none;
}
p.btn-choose-file label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    background-color: #f2e7f7;
    box-shadow:inset 2px 2px 5px rgba(46, 47, 53, 0.2);
}
p.btn-choose-file label:before {
    border-radius: 20px;
    width: 28px;
    height: 28px;
}

p.btn-choose-file input[type="radio"]:checked + label:before {
    content: "\2022";
    color: white;
    font-size: 37px;
    text-align: center;
    line-height: 25px;
    background-image: linear-gradient(45deg, #7cdb00 0%, #00b83d 100%);
    width: 25px;
    height: 25px;
}
p.contributor-radio1 {
    margin: 5px 0 0 0;
    width: 100%;
}
p.contributor-radio1 > label{
    margin-bottom: 13px;
}
.label-title-role {
    margin: 11px 0 -6px 0;
}
p.btn-add-contributor5 {
    height: 46px;
    margin: 0 0 10px 0;
}
p.contributor-radio1 label {
    color: #736b6b;
}
p.color-a a {
    color: #736b6b;
}
.change-color {
    background-color: blue;
}

.member_contributor {
    font-size: 12px;
}
span.member_left1 {
    margin-right: 60px;
}
span.member_left2 {
    margin-right: 95px;
}
span.member_left3 {
    margin-right: 13px;
}
span.member_left4 {
    margin-right: 96px;
}
span.color-member-left {
    color: #bfbdbd;
}

input.percent-share2 {
    position: absolute;
    /*top: 7px;*/
    /*right: 16%;*/
    right: 86px;
    width: 55px;
    background-color: #eee;
    line-height: 1.428571429;
    color: #555;
    border-radius: 4px;
    padding: 6px 20px 6px 7px;
    overflow: hidden;
    outline: none;
    border: none;
    box-shadow: inset 2px 2px 5px rgba(46, 47, 53, 0.2);
}
input.percent-share2:focus{
    outline: none;
}
span.percent-icon1 {
    position: absolute;
    /*right: 17%;*/
    /*top: 14px;*/
    right: 92px;
    color: #988787;
}
td {
    font-size: 13px;
    padding-left: 10px;
}
.fa-remove {
    font-size: 18px;
    color: #f25a5a;
    width: 50px;
    /*height: 49px;*/
    background-color: #EEEEEE;
    cursor: pointer;
}
.half-past-percent {
    width: 105px;
    height: 30px;
    background-color: #FFFFFF;
    float: right;
    margin-right: 39px;
    border-radius: 0 0 5px 5px;
}
.half-past-percent .check-agreement{
    margin-top: 22px;
    padding-left: 6px;
}
.table-contributors {
    position: relative;
    box-shadow: -11px 5px 18px 0px rgba(78, 73, 73, 0.5);
}
.check-contributors span{
    top: -15px;
    left: -5px;
    font-size: 12px;

}
.check-contributors span.equal-share{
    top: -14px;
    left: -9px;
    color: #615858;
}
.check-contributors span.equal-share2{
    left: -6px;
}
.fa-pencil {
    cursor: pointer;
}
.btn-upload-audio5 {
    float: right;
    margin-top: -42px;
    margin-right: 24px;
    padding: 7px 36px;
}
.btn-save-contributor {
    background-color: #AAAAAA!important;
}
p.publish-song-title {
    font-size: 13px;
}
.publish-song-info , .publish-contributor{
    float: left;
    width: 100%;
    background-color: white;
    border-radius: 4px;
    box-shadow: 4px 4px 10px rgba(46, 47, 53, 0.2);
    display: inline-block;
}
/*.publish-contributor {*/
    /*float: left;*/
    /*width: 100%;;*/
    /*height: auto;*/
    /*background-color: white;*/
    /*border-radius: 4px;*/
    /*box-shadow: 4px 4px 10px rgba(46, 47, 53, 0.2);*/
/*}*/
p.btn-publish-song {
    margin: 20px 0 0;
}
.btn-back1 {
    margin: 0;
}
.btn-publish1 {
    margin: 0;
    margin-left: 10px;
}
.content-publish-song {
    min-height: 761px;
}
.publish-song-info-container{
    overflow:hidden;
}
.parent-publish-song-info {
    float: left;
    width: 41%;
    margin-top: 20px;
}
p.title-publish-song {
    font-size: 20px;
    color: white;
    font-family: DinPro;
}
p.title-song-info2 {
    margin-bottom: 5px;
}
.parent-publish-contributor {
    float: left;
    width: 56%;
    margin-left: 20px;
    margin-top: 20px;
    display: inline-block;
}
p.title-publish-contributor {
    margin: 0 0 5px 0;
    float: left;
}

p.title-option-publish-song {
    color: #ada7a7;
    font-size: 12px;
}
p.content-option-publish-song {
    font-size: 15px;
}
.padding-for-title-publish-song {
    padding: 18px 20px;
}
.option-publish-song1 {
    color: #6d6b6b;
    font-size: 12px;
}
.option-publish-song1 img {
    margin-right: 8px;
    position: relative;
    top: 2px;
}
p.margin-bottom-table {
    margin-bottom: 7px;
}
tr.change-color-row {
    color: #988c8c;
}
td.padding-zero {
    padding-left: 0;
}
.padding-for-title-publish-song p span.size-song {
    margin-left: 10px;
    color: #ada7a7;
    font-size: 12px;
}
.border-publish-song {
    border-top: #ececec solid 2px;
    border-bottom: #ececec solid 2px;
}
.publish-song1 {
    position: relative;
    font-size: 14px;
}
.play-publish-song1 {
    width: 21px;
    height: 25px;
    position: absolute;
    right: 15px;
    bottom: 9px;
}
.btn-publish-song1 {

    background-color: #EA595C;
}
.publish-contributor1 {
    width: 100%;
    overflow: hidden;
    border-bottom: 2px solid #dedede;
}
.publish-contributor2 {
    height: 174px;

}
.publish-contributor3 {
    height: 50px;
}
.publish-contributor-sub {
    float: left;
    width: 48%;
    /*height: 139px;*/
}
.publish-contributor-sub4 {
    margin-left: 10px;
}
.contributors-details {
    margin-bottom: 10px;
}
.contributors-details2 {
    margin-bottom: 8px;
}
.publish-contributor-sub2 {
    margin-left: 10px;
    width: 49%;
}
.contributors-details3 {
    margin-top: 7px;
}
.padding-special {
    padding: 13px 20px;
}
.modal-content-publish-song {
    height: 233px;
}
.check-agreement5 {
    color: #6b6767;
    font-size: 11px;
    margin-top: 25px;
}
.check-agreement span.text-publish-song {
    top: -5px;
}
.file-field.medium .file-path-wrapper {
    height: 3rem; }
.file-field.medium .file-path-wrapper .file-path {
    height: 2.8rem; }

.file-field.big-2 .file-path-wrapper {
    height: 3.7rem; }
.file-field.big-2 .file-path-wrapper .file-path {
    height: 3.5rem; }
.content-saved-song {
    height: auto;
}
.btn17 {
    margin-left: 25px;
    margin-bottom: 10px;
    margin: 0 10px 10px 25px;
}
.fa-pencil2 {
    font-size: 18px;
    /*color: red;*/
    color: #F4595D;
    width: 50px;
    height: 49px;
    background-color: #EEEEEE;
    /* padding-top: 15px; */
    padding: 15px;
    cursor: pointer;
}
td.small-text {
    font-size: 13px;
}
td.padding-text {
    padding-left: 10px;
}
th.small-text2 {
    font-size: 12px;
    color: white;
    vertical-align: bottom;
    font-family: DINPro;
}
th.color-text20 {
    color: white;
    font-size: 20px;
    font-family: DINPro;
}
.clear {
    clear: both;
}
.concept-songs {
    margin-top: 12px;
}
.concept-song {
    background-color: white;
    border-bottom: 2px solid #d8d5d5;
}
.btn-published-song {
    margin: -1px auto -5px;
    font-size: 54px;
    min-width: 90px;
    border-radius: 50%;
}
.content-option-published1 {
    /*height: 205px;*/
}
.content-option-published2 {
    /*height: 205px;*/
    float: right;
}
p.info1 {
    font-size: 12px;
    color: #4a4343;
    font-family: DINPro;
}
p.info2 {
    font-size: 18px;
    margin-top: -28px;
    color: #f72e2e;
}
p.info3 {
    margin-top: -29px;
    font-size: 9px;
    color: #AAAAAA;
}
.title-option2 {
    margin-top: -3px;
}
.btn-publish {
    background-color: #F35A5C;
}
p.note2 {
    color: #AAAAAA;
}
.color-pencil {
    background-color: #DDDDDD;
    width: 50px;
    height: 52px;
}
tr.background-row1 {
    background-color: #EEEEEE;
}
.color-pencil2 {
    float: right;
}
.content-songs {
    height: auto;
}
tr.border-row1 {
    border-top: 2px solid #d4caca;
}
tr.background-row2 {
    background-color: white;
}
.concept-songs5 {
    margin-top: 15px;
}
.background-red1 {
    background-color: #F15A5F;
}
.btn27 {
    margin: 0 -12px;
}
.btn28 {
    background-color: #F56161;
}
.fa-play-color {
    color: #CACACA;
}
.btn-saved-claims {
    font-size: 43px;
    padding: 15px 26px;
}
.btn29 {

}
.modal-saved-claims {
    /*height: 35%;*/
}
.content-option-published11 {
    height: 197px;
}
p.btn-add-song3 {
    margin: 1% 0 6% 0;
}
.concept-songs2 {
    width: 100%;
}
.color-pencil3 {
    background-color: #EEEEEE;
}
.box2 {
    float: none;
}
#fileLabel23 {

}
.label-box {
    font-size: 13px;
    float: left;
    width: 220px;
    color: #6b6363;
    margin-left: 132px;
    margin-top: 2px;
    margin-bottom: 11px;
}
.form-control-pro1 {
    margin-top: 14px;
}
p.contributor-radio2 {
    float: left;
    width: 105%;
    margin: 18px 20px 18px 0;
}
.modal-add-song1 {
    height: 48%;
}
.btn-blank {
    /*margin: 0 -32px 0 29px;*/
}
.content-edit-song {
    height: 106%;
}
.btn-edit-song {
    background-color: #F35667;
}
.audio-files .box img.song111 {
    margin: -31px 0px -2px 80px;
    cursor: pointer;
    display: none;
}
.audio-files .box .song333 {
    float: right;
    position: relative;
    display: none;
}
.audio-files .box .song333:before {
    width: 14px;
    height: 18px;
    position: absolute;
    left: 0; right: 0; bottom: 0; top: 0;
    margin:auto;
}
.modal-info-claim {
    /*width: 391px;
    height: 459px;*/
    width: 29.5%;
    height: 77%;
}
.color-info-claim {
    color: #9E9E9E;
}
.height-info-claim {
    height: 35px;
}
.text-info-claim {
    font-size: 14px;
}
td.evidence{
    padding-bottom: 33px;
}
p.title-claims {
    /*margin-bottom: -4px;*/
    margin-bottom: -3%;
    font-size: 23px;
}
.btn-claims {
    margin: 1% 38%;
    background-color: #F35A5C;
}
.modal-submit-claim {
    margin: 20% auto;
}
.content-claim-empty {
    height: auto;
}
.modal-claim-empty {
    background-color: #fefefe;
    border-radius: 6px;
    border: 1px solid #888;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    padding: 25px 31px;
    margin: 0%;
}

.form-date {
    width: 89%;
}
.btn-upload-file {
    background-color: #F35667;
}
p.btn-claim-empty {
    margin: 1.5% 0% 7% 0%;
    position: relative;
}
p.btn-claim-empty a {
    position: absolute;
    top: 8px;
    left: 178px;
}
.remove-song-claim {
    margin: -5px -16px -14px 0px;
    height: 30px;
    padding-top: 5px;
}
#fileLabel17 {
    float: left;
    width: 328px;
    height: 43px;
    color: white;
    background-color: #F2575D;
    margin-top: -1%;
    border: 1px solid;
    padding-top: 10px;
    padding-left: 34px;
}
.remove-song-claim {
    float: right;
    width: 40px;
    margin: -42px 0 0 0;
    height: 41px;
    padding: 11px 13px;
    background-color: #CF4D4D;
    color: white;
}
.img_song1 {
    display: none;
}
#fileLabel17 {
    display: none;
}
.remove-song-claim {
    display: none;
}

.border_contributor {
    border: none;
}
.btn-add-contributor {
    width: 174px;
    box-shadow: 4px 4px 10px rgba(46, 47, 53, 0.2);
}
.hidden_note_contributor {
    display: none;
}
.upload-song-1 {
    float: left;
    margin-top: -26px;
    margin-left: -16px;
    width: 89px;
    height: 17px;
}
.upload-song-2 {
    float: left;
    margin-top: -26px;
    margin-left: -16px;
    width: 89px;
    height: 17px;
}
.instrumental-1 {
    margin-top: 19px;
}
td.play_song1 {
    position: relative;
}
td.play_song1 img {
    position: absolute;
    top: 18px;
}
.play-publish-song2 {
    right: 106px;
    bottom: 13px;
}
.btn-publish-song2 {
    margin: 3px 5px 0 25px;
}
.member_pro2 {
    display: inline-block;
    width: 100px;
}
.btn-publish-song-color {
    background-color: #F35667;
}
.border-row {
    /*border-bottom: 2px solid #d4caca;*/
}
.play-publish-song3 {
    right: 12px;
}
td.publish-date {
    position: relative;
}
.btn-published-song2 {
    border: none;
    width: 50px;
    padding: 0px;
}
.modal-add-song2 {
    display: table;
}
.contributor-total {
    margin-top: -12px;
}
.option-publish-song2 {
    font-size: 18px;
}
a.delete-song1 {
    margin: 0px 0 0 110px;
    cursor: pointer;
}
.contributor-total2 {
    margin-top: 0px;
}
p.btn-add-song1 .btn-cancel{
    color: #fff;
}
.btn-cancel:hover{
    color: #111;
}
.active-menu:before {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: -2px;
    background: #f25a5a;
    left: -12px;
}
.footer-container{
    max-width:1080px;
    margin: auto;
}
.play_music{
    position: relative;
    height: 37px;
    max-width:50px;
    margin:auto;
}
.audio-files .play_music{
    max-width: 40px;
    width: 100%;
}
.play_music .fa{
    color: #f25a5a;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto
}
.play_music .play_active:before{
    content: "\f04c";
}
.publish-song-play_music{
    position: absolute;
    top: 0;
    right: 15px;
    bottom: 0;
}
.play_music audio{
    display:none;
}
.home-td-content{
    display: flex;
}
.home-play_music {height: 46px;}
.play_hiden .fa{    color: #c8c8c8;}
.disabled{
    background-color: #AAAAAA;
}
.parent-publish-contributor:after {
    content: '';
    display: block;
    clear: both;
}
.btn:hover{
    background-color: #4395C9;
    color:#fff;
}
.form-control{
    border: unset;
    box-shadow: inset 2px 2px 5px rgba(46, 47, 53, 0.2);
    background-color: #eee;
}
.form-control:focus {
    background: #e7e7e7;
    box-shadow: none;
    box-shadow: inset 2px 2px 5px rgba(46, 47, 53, 0.2);

}
.btn:hover, .btn:focus {
    outline: none;
}
.dowload_music{
    text-align: right;
}
.dowload_music .fa{
    color: #f25a5a;
}
.publish-song-dowload_music {
    position: absolute;
    top: 0;
    right: 30px;
    bottom: 0;
    display: flex;
    justify-items: center;
    align-items: center;
}
.btn-edit-cancel{
    display: flex;
}
.btn-edit-delete{
    border: none;
    background: inherit;
    color: #e4e4ea;
    /*position: absolute;*/
    top: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    font-size: 15px;
    margin: auto 0 auto auto;
}
.btn-edit-delete:hover{
    color:#333333;
}
.edit-song-pages .btn-agreement1 .btn-continue {
    width:auto;
}
.edit-song-pages .btn-edit-cancel{
    justify-content: start;
}
.btn-default-color{
    background: #F35667;
}
.content-add-song .btn-add-song1 .cancel-add , .content-add-song .btn-add-song1 .btn-edit-cancel{
    justify-content: start;
    /*margin: unset;*/
    margin: 0 0 0 13px;
}
.modal-content .box{
    margin-top: 4px;
    display: flex;
    width:100%;
}
.inputfile-7 + label{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 115px;
    height: 40px;
    font-size: 19px;
    font-family: DinPro;
    width: 100%;
    padding: 0 58px;
    order: 1;
    margin-right: 10px;
}
.modal-content .box .label-box{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    order: 2;
}
.inputfile-7 + label:hover{
    background-color: #4395C9;
}
.upload-music-2:hover,.btn-upload-audio2:hover{
    background-color: #4395C9 !important;
}
.list-song-page .btn-publish-song2{
    margin: auto;
}
.list-song-page p.btn-add-song3{
    margin: 20px 0 20px 0;
}
th.small-text2{
    font-size: 15px;
}
th{
    padding-bottom: 10px;
}
.publish-song-pages p.title-publish-song{
    font-size: 26px;
    margin: 0;
}
.publish-song-pages .publish-song-info p.content-option-publish-song{
    width:90%;
}
.name-song-file{
    font-size:12px;
}
body label.name-song{
    color: #f25a5a !important;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
}
.name-song .icon-music{
    margin: 0 5px 0 0;
}
select.form-control-pro{
    background: url(../../../image/content/down.png) no-repeat right #eee;
    -webkit-appearance: none;
    background-position: 95% 20px;
}
select.form-control-pro:focus{
    background: url(../../../image/content/down.png) no-repeat right #eee;
    -webkit-appearance: none;
    background-position: 95% 20px;
}
.page-check-publish{
    clear: both;
    padding-top: 20px;
}
.page-publish-song-item .name-text-music{
    width: calc(100% - 25px);
    word-break: break-all;
}
.claim-publish-hidden{
    display:none;
}
#idSubmitClaim{
    overflow: hidden;
}
#idSubmitClaim .modal-submit-claim{
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 22px 0;
    max-width: 391px;
    width: 100%;
    height:202px;
}
.btn:focus {
    color:#fff;
}
.home-td-content{
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    height: 100%;
}
.home-td-content .btn-publish-song2{
    margin: 0;
}
.page-home-song .song{
    width: 27%;
    font-size: 26px;
}

.page-home-song .composers{
    width: 23%;
    font-size: 14px;
}
.page-home-song .lyricists{     width: 24%; }
.page-home-song .last-saved{ width:auto }
.page-home-song .icon-play-song{     width: 4.5%;  }
.page-home-song .btn-edit{      width: 10%;}
.page-home-song .content .title-content{
    font-size: 36px;
    margin: 0 0 4px 0;
}
.page-home-song .title-option{
    font-size: 26px;
    font-weight: 400;
    line-height: 32px;
    text-transform: uppercase;
    color: #666666;
}

@media only screen and (max-width: 767px) {
    .content {
        max-width: 100%;
        padding: 20px 10px ;
    }

    .content p.title-content {
        text-align: center;
    }

    .content-option {
        width: 100%;
    }

    .publish-song-info {
        width: 100%;
    }

    .publish-contributor {
        float: none;
        width: 100%;
        margin: auto;
    }

    .btn-continue {
        float: none;
    }

    .publish-song-pages p.title-publish-song {
        margin: auto;
        text-align: center;
        padding: 10px;
        float: none;
        clear: both;

    }

    .parent-publish-song-info {
        width: 100%;
    }

    .parent-publish-contributor {
        float: none;
        width: 100%;
        margin-left: 0px;
    }

    .parent-claim-empty .modal-claim-empty {
        max-width: 100%;
    }

    .content-add-song form {
        float: none;
        max-width: 100%;
    }

    .add-song-1 {
        float: none;
        max-width: 100%;
        width: 100%;
    }

    .song-info {
        width: 100%;
    }

    .add-song-2 {
        width: 100%;
        max-height: 100%;
        margin-left: 0px;
        max-width: 100%;
        margin-top: 10px;
    }

    .audio-files {
        width: 100%;
    }

    .modal-add-song2 {
        width: 100%;
        height: auto;
    }

    p.btn-choose-file label {

        margin-left: 0px;

    }
    th {
        width: 10%;
    }
    th.color-text20 {
        font-size: 15px;

    }
    th.small-text2 {
        font-size: 12px;
    }

    td .dowload_music{
        text-align: center;
    }
    .publish-contributor-sub{
        height: auto;
    }
    .contributors{
        flex-wrap: wrap;
    }
    span.role{
        position: static;
        width: 100%;
        padding: 0 0 10px 10px;
    }
    span.contributors-name{
        width: 50%;
    }
    .half-past-percent{
        margin-bottom: 20px;
    }
    .btn-add-contributors{
        display: inline-block;
    }
}
@media(max-width: 500px){
    .publish-contributor-sub{
        width: 100%;
        margin: 0;
    }
    .publish-song-info5.padding-for-title-publish-song table{
        width: 100% !important;
    }
}
@media (min-width: 767px) and (max-width: 992px) {
    .content {
        max-width: 100%;
        padding: 10px;
    }
    .add-song-1 {
        /*margin: 0px 0px 30px 17px;*/
    }
    .modal-add-contributor{
        height: auto;
    }
    .rev-slider p.btn-publish-song{
        clear: both;
        padding: 15px;
    }
    .rev-slider p.title-publish-contributor{
        margin: auto;
    }
    .rev-slider .add-song-1 {
        /*width: auto;*/
    }
    .rev-slider .add-song-2 {
        /*width: 100%;*/
    }
    .rev-slider .add-song-2 .audio-files{
        width: auto;
    }
    .rev-slider .add-song-1 .song-info{
        width: auto;
    }
    .modal-add-song2 {
        height: auto;
    }

}

.group-content-option{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.group-content-option .btn{
    margin: 16px auto 2px;
}
.page-home-song .content-option {
    padding: 14px 10px 9px;
    min-height: 180px;
    box-shadow: 4px 4px 10px rgba(46, 47, 53, 0.2);
    border-radius: 4px;
    flex: 1 1 50%;
    max-width: calc(50% - 10px);
    /*height: 100%;*/
    /*max-height: 205px;*/
}

.page-home-song .content-option img{
    margin: 7px 0 0 0;
}
.page-home-song .content-option .empty-song{
    padding: 5px 11px;
    margin: 13px auto 0;
    font-size: 16px;
}
.page-home-song .content-option .note1{
    color: #f25a5a;
    font-size: 12px;
    text-transform: uppercase;
    font-family: DINPro;
    line-height: 30px;
}
.page-home-song .content-claims img{
    margin: 4px 0 0 0;
}

.page-home-song .content-option .home-last-song{
    color: #666666;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    font-family: DINPro;
    margin: 13px 0 0;
}
.page-home-song .content-option .home-title-song{
    color: #f25a5a;
    font-size: 23px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 2px;
    line-height: 23px;
    font-family: DINPro;
}
.page-home-song .content-option .home-song-day{
    font-size: 12px;
    font-family: DINPro;
    text-transform: uppercase;
    color: #aaaaaa;
    font-weight: 400;
    line-height: 12px;
    margin-top: 3px;
}
.page-home-song .btn{
    font-size: 16px;
    padding: 4px 10px;
}
.page-home-song .btn-published-song{
    min-width: 78px;
    height: 78px;
    font-size: 46px;
    margin: 7px auto 0;
}
.page-home-song .content-claims .login-home-icon-claim{
    margin: 16px 0 0 0;
}
.page-home-song .content-claims .home-claim-text{
    color: #aaaaaa;
    font-family: Dinpro;
    font-size: 12px;
    line-height: 24.19px;
    text-transform: uppercase;
    margin: 17px 0 0 0;
    letter-spacing: 0px;
}
.page-home-song .list-publish .padding-text{
    padding-left: 14px;
    font-size: 14px;
}
.page-home-song .list-publish .td-composers, .page-home-song .list-publish .td-lyricists, .page-home-song .list-publish .small-text{
    font-size: 11px;
}
@media (max-width:767px) {
    .page-home-song .content-option{
        margin: 0 auto 20px;
        padding: 15px 10px;
        /*max-height: 214px;*/
        max-width: 450px;
        float: none;
        flex: 1 1 100%;
    }
}
.content-add-song{
    padding: 30px 10px;
    max-width: 960px;
}
.content-add-song p.title-content-agreement{
    margin-bottom: 22px;
    width: 100%;
}
.add-song-page p.add-song-duration span{
    font-size: 14px;
    line-height: 31px;
}
.add-song-page p.title-add-song{
    /*margin-bottom: 5px;*/
}
.add-song-page .form-control{
    height:50px;
}
.add-song-page p.add-song-duration {
    margin-bottom: -30px;
}
.add-song-tunecode{
    margin-bottom: 5px;
}
.check-contributors span.squaredTwo label{
    width: 23px;
    height: 23px;
}
.check-contributors span.squaredTwo label:after, .check-contributors .squaredTwo input[type=checkbox]:checked + label:after{
    width: 13px;
    height: 7px;
}
.content-add-song form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.content-add-song .audio-files .play_music{
    margin: auto 0 auto auto;
}
.add-song-page .audio-files .fa-remove{
    width: 40px;
}
.add-song-page .btn-continue{
    padding: 8px 15px;
}
#check-song-contributor .modal-content-warning-agreement{
    margin: auto;
    min-height: 150px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
#checkright-sample .modal-content-warning-agreement{
    width: 310px;
    height: 150px;
    min-height: 150px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
#checkright-sample .modal-content-warning-agreement p.btn-ok-warning-agreement{
    color: #000000;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.2px;
}
.modal-upload-song{
    position: absolute;
    top: 0;
    bottom: 0;
    /*transform: translate(0 , -50%);*/
    right: 0;
    left: 0;
    margin: auto;
    display: inline-table;
}
.upload-audio-file p.title-upload-song{
    line-height: 26px;
}
.upload-audio-file .btn-upload-audio{
    padding: 7px 17px;
    margin: auto 0;
}

.modal-add-contributor p.title-upload-song{
    margin-bottom: 18px;
    width: 100%;
}
.modal-add-contributor .btn-upload-audio {
    padding: 7px 18px;
}


.edit-song-pages p.title-content-agreement{
    margin-bottom: 22px;
}
.edit-song-pages p.add-song-duration span{
    font-size: 14px;
    line-height: 31px;
}
.edit-song-pages p.title-add-song{
    margin-bottom: 5px;
}
.edit-song-pages .form-control{
    height:50px;
}
.edit-song-pages p.add-song-duration {
    margin-bottom: -30px;
}

.edit-song-pages form{
    width: 100%;
}

.edit-song-pages .audio-files .fa-remove{
    width: 100%;
    max-width: 40px;
}
.edit-song-pages .btn-continue{
    padding: 8px 15px;
}
.role-show{
    display: block !important;
    width: 100%;
}
.form-group , .select-option-form{
    width: 100%;
}
.existing-container .existing-title{
    opacity: 0.5;
    color: #000000;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    width: 160px;
    letter-spacing: -0.2px;
}
.existing-container .existing-data{
    color: #000000;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}
.existing-container .existing-text {
    display: flex;
}
.existing-container {
    margin-bottom: -15px;
    padding: 6px 0 0 0;
}
.publish-song-pages{
    padding: 30px 10px;
    max-width: 960px;
}
.publish-song-pages   p.title-content-agreement{
    margin-bottom: 25px;
}
.publish-song-pages p.publish-song-title {
    font-size: 14px;
}
.publish-song-pages .parent-publish-song-info,.publish-song-pages .parent-publish-contributor{
    margin-top: 12px;
}
.publish-song-pages p.content-option-publish-song{
    font-size: 14px;
}
.publish-song-pages .option-publish-song1{
    color: #000000;
}
.publish-song-pages .modal-content-publish-song {
    display: table;
    position: absolute;
    left: 50%;
    right: 0px;
    top: 50%;
    bottom: 0px;
    margin: auto;
    padding: 23px 30px;
    min-height: auto;
    height: auto;
    width: 100%;
    max-width: 391px;
    transform: translate(-50%, -50%);
}
.publish-song-pages .modal-content-publish-song p.title-home-warning{
    color: #000000;
    font-family: DINPro;
    font-size: 26px;
}
.publish-song-pages p.text-home-warning{
    font-size: 14px;
    color: #000;
}
.publish-song-pages .btn-cancel{
    padding: 8px 16px;
}
.publish-song-pages .btn-comfirm{
    padding: 8px 17px;
    margin: 0 10px;
}
.publish-song-pages span.squaredTwo label{
    width:23px;
    height:23px;
}
.publish-song-pages .check-agreement span{
    top: 0;
    left: 0;
    margin-left: 11px;
}
.publish-song-pages .check-agreement5{
    display: flex;
    justify-content: center;
    margin-top: 23px;
}
.publish-song-pages span.squaredTwo label:after{
    width: 11px;
    height: 8px;
}
.concept-claim-container{
    width:100%;
    margin: 12px 0 0 0;
    padding-bottom: 20px;
}
.title-row{
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    text-transform: uppercase;
    font-family: DINPro;
    margin: 4px 0 0 0;
}
.concept-claim-row{
    display: flex;
    max-width: calc(100% - 40px - 74px);
}
.concept-claim-row .concept-claim-title{
    font-size: 26px;
    flex: 1 1 35.49%;
    margin:0;
    max-width: 274px;
    /*flex: 0 0 28.98%;*/
}
/*.concept-claim-row .concept-claim-medium{*/
    /*flex: 1 1 9.13%;*/
/*}*/
/*.concept-claim-row .concept-claim-station_channel{*/
    /*flex: 1 1 20.24%;*/
/*}*/
/*.concept-claim-row .concept-claim-program{*/
    /*flex: 1 1 30.74%;*/
/*}*/
/*.concept-claim-row .concept-claim-air-date{*/
    /*flex: 1 1 11.56%;*/
/*}*/
/*---*/
.concept-claim-data .data-claim-medium, .concept-claim-row .concept-claim-medium{
    flex: 1 1 11.22%;
}
.concept-claim-data .data-claim-station_channel, .concept-claim-row .concept-claim-station_channel{
    flex: 1 1 24.66%;
}
.concept-claim-data .data-claim-program, .concept-claim-row .concept-claim-program{
    flex: 1 1 37.01%;
}
.concept-claim-data .data-claim-air-date, .concept-claim-row .concept-claim-air-date{
    flex: 1 1 13.98%;
}
.concept-claim-row .concept-claim-county, .concept-claim-data .data-claim-county{
    flex: 1 1 12.93%;
}
.concept-claim-data .data-claim-submit {
    flex: 1 1 74px;
    position: relative;
}
.concept-claim-data .data-claim-submit .bth-data-submit{
    right: 5px;
}
.concept-claim-data .data-claim-edit{
    flex: 1 1 40px;
    position: static;
    max-width: 40px;
    height: auto;
}
.concept-claim-container .mobile-show{
    flex: 1 1 70.45%;
}
.concept-claim-data .mobile-show{
    flex: 1 1 58.3%;
}

.concept-claim-data{
    display: flex;
    background: #fff;
    position: relative;
    overflow: hidden;
}
.concept-claim-data .data-text{
    color: #000000;
    font-weight: 400;
    line-height: normal;
    font-size: 11px;
}
.concept-claim-data .data-claim-title{
    font-size: 14px;
    flex: 1 1 25.65%;
    padding: 15px 0;
}
.concept-claim-data:after, .concept-songs-data:after {
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: #eee;
}
.first-child-row{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.concept-claim-data:last-child{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.concept-claim-data:last-child:after{
    display: none;
}
.page-home-song {
    max-width: 972px;
    padding: 27px 23px 31px 17px;
}
@media (max-width:767px) {
    .page-home-song{
        padding: 20px 10px;
    }
}
.bth-data-submit{
    padding: 5px 10px;
    background-color: #f25a5a;
    border-radius: 23px;
    color: #ffffff;
    font-family: DINPro;
    font-weight: 400;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 27px;
    margin: auto;
    line-height: 100%;
    cursor: pointer;
}
.bth-data-disable{
    background: #aaa;
}
.data-claim-edit{
    width: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    background-color: #eeeeee;
}
.data-claim-edit .fa-pencil{
    color: #f25a5a;
}

.data-claim-edit:after {
    content: '';
    position: absolute;
    bottom: 0px;
    background: #ddd;
    height: 2px;
    width: 100%;
    z-index: 1;
}
.data-claim-edit:last-child:after{
    display:none;
}
.concept-songs-container{

}
.concept-songs-container .concept-songs-row {
    display: flex;
    align-items: baseline;
    width: calc(100% - 140.11px);
}
.concept-songs-container .concept-songs-row .songs-title-row{
    color: #ffffff;
    font-family: DINPro;
    font-size: 12px;
    font-weight: 400;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.concept-songs-container .concept-songs-row .concept-songs-title{
    font-size: 26px;
    flex: 1 1 32.2%;
    margin:0;
    letter-spacing: 0;
}
.concept-songs-container .concept-songs-row .mobile-show{
    flex: 1 1 67.8%;
}
.concept-songs-container .concept-songs-row .concept-songs-composers{
    flex: 1 1 39.3%;
}
.concept-songs-container .concept-songs-data .mobile-show{
    flex: 1 1 59.19%;
}
.concept-songs-container .concept-songs-data .data-songs-composers{
    flex: 1 1 40.15%;
}
.concept-songs-container .concept-songs-row .concept-songs-lyricists{
    flex: 1 1 44.89%;
}
.concept-songs-container .concept-songs-data .data-songs-lyricists{
    flex: 1 1 45.45%;
}
.concept-songs-container .concept-songs-row .concept-songs-last-save{
    flex: 1 1 15.81%;
    /*margin-right: 5px;*/
}
.concept-songs-container .concept-songs-data .data-songs-last-save{
    flex: 1 1 14.41%;
    min-width: 65px;
}
.concept-songs-container .concept-songs-data .data-songs-play{
    flex: 1 1 3.36%;
    max-width: 30px;
    min-width: 30px;
}
.data-claim-submit.data-submit{
    flex: 1 1 10.62%;
    width: 70.11px;
    max-width: 70.11px;
    /*margin-right: 5px;*/
    position: relative;
}
.concept-songs-container .concept-songs-data .data-claim-edit{
    flex: 1 1 40px;
    max-width: 40px;
    width: 40px;
    position: static;
    height: auto;
}
.concept-songs-container .concept-songs-data .data-songs-play .home-play_music{
    height: 49px;
}
.concept-songs-container .concept-songs-data .data-songs-play .home-play_music .fa-play{
    justify-content: center;
}
.concept-songs-container .concept-songs-data .data-songs-play .home-play_music .fa-play:before{
    margin: 0 0 0 4px;
    font-size:12px;
}
.concept-songs-container .concept-songs-data{
    display: flex;
    background: #fff;
    position: relative;
    overflow: hidden;
}
.align-content-center{
    align-items: center;
    width: 92%;
    display:flex;
    flex: 1 1 calc(100% - 40px);
    padding: 0 5px 0 16px;
}
@media (max-width:767px) {
    .concept-songs-container .concept-songs-data .align-content-center .mobile-show .data-text{
        line-height: normal;
        padding-bottom: 10px;
        font-size: 13px;
    }
    .align-content-center{
        flex-wrap: wrap;
    }
    .concept-songs-container .concept-songs-data .mobile-show{
        order: 2;
        padding: 0 10px 0 0;
        flex: 100%;
    }
    .concept-songs-container .concept-songs-data .mobile-show > div{
        flex: 100%;
        max-width: 100%;
    }
    .concept-songs-container .concept-songs-row{
        width: 100%;
    }

}
.concept-songs-container  .concept-songs-data:last-child {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.concept-songs-container  .concept-songs-data .data-text{
    color: #000000;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 400;
    line-height: 51px;
}
.concept-songs-container .first-child-row{

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.concept-songs-container .concept-songs-data .data-songs-title{
    font-size: 14px;
    flex: 1 1 25.73%;
    /*padding: 0 0 0 16px;*/
 }
.bth-data-submit:hover{
    text-decoration: none;
    background-color: #4395C9;
    color:#fff;
}
.bth-data-disable:hover {
    background: #aaa;
    color:#fff;
    text-decoration: none;
}
#idSubmitClaim p.title-home-warning{
    color: #000000;
    font-family: DINPro;
    line-height: 32px;
    text-transform: uppercase;
    font-size: 26px;
    margin: 0 0 19px 0;
}
#idSubmitClaim p.text-home-warning{
    color: #000000;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
#idSubmitClaim  .btn-cancel{
    padding: 8px 20px;
    margin: 0;
    font-size: 16px;
}
#idSubmitClaim .btn-confirm{
    padding: 8px 20px;
    letter-spacing: 1px;
    margin: 0 0 0 10px;
    font-size: 16px;
}
.page-home-song .concept-songs{
    display:none
}
.page-home-song .concept-songs-container {
    margin: 10px 0 0 0;
}
.page-claim{
    max-width: 957px;
    padding: 27px 10px;
}
.page-claim p.title-content-agreement{
    margin-bottom: 29px;
}
.page-claim .parent-claim-empty .modal-claim-empty{
    max-width:380px;
    padding: 5px 20px 15px 20px;
    /*min-height: 645px;*/
    max-height: none;
}
.page-claim .form-control{
    height:49px;
}
.page-claim .input-evidence{
    height: auto;
}
.page-claim .form-margin-bottom  {
    margin-bottom: 17px;
}
.page-claim .claim-played-song{
    margin-bottom: 24px;
}
.page-claim .form-air-date{
    margin-bottom: 8px;
}
.page-claim .form-upload-claim{
    /*margin: -19px 0 10px 0;*/
}
.page-claim .modal-add-contributor .btn-upload-audio{
    padding: 7px 15px;
}
.page-claim .claim-optional{
    font-size: 14px;
    margin: 24px 5px;
}
.page-claim .claim-submit{
    position: static;
    padding: 0 16px;
    display: flex;
    height: 36px;
    line-height: 36px;
}
.page-claim .btn-publish1.claim-save{
    padding: 0 16px;
    height: 36px;
    margin-left: 10px;
}
.page-claim .claim-cancel{
    position: static;
    margin-left: 10px;
}
.page-claim .input-evidence{
    min-height: 49px;
    padding: 14px 10px;
}
#claim-upload-file .modal-content{
    max-width: 390px;
    min-height: 268px;
    box-shadow: 4px 4px 10px rgba(46, 47, 53, 0.2);
    padding: 21px 29px;
    top: 50%;
    position: absolute;
    /*left: 10px;*/
    /*right: 10px;*/
    left: 0;
    right: 0;
    bottom: 0;
    transform: translate(0 , -50%);
    margin: auto;
    display: table;
    width: calc(100% - 20px);
    width: 100%;
}
@media (max-width:767px){
    .concept-claim-data{
        flex-wrap: wrap;
    }
    .concept-claim-data .data-claim-title{
        flex: 1 1 calc(100% - 150px);
    }
    .concept-claim-data .mobile-show{
        flex: 2 1 100%;
        width: 100%;
        max-width: 100%;
        order: 1;
        padding-bottom: 10px;
    }
    .concept-claim-data .data-text{
        font-size: 14px;
    }
    .add-song-page .play_music {
        margin: auto 0px auto auto;
        max-width: 40px;
        width: 100%;
    }
    .modal-add-contributor{
        padding: 20px 15px;
    }
}
@media (max-width:550px){
    #claim-upload-file .modal-content{
        padding: 3.2%;
    }
}
#claim-upload-file .modal-content .box{
    margin-top: 15px;
}
#claim-upload-file .btn-upload-audio {
    padding: 7px 17px;
    /*margin: 22px auto 2px;*/
}
@media (max-width: 767px) {
    .page-claim p.btn-agreement1{
        margin-top: 20px;
        max-width: 380px;
    }
}
#claim-upload-file p.btn-choose-file a{
    color: #000000;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin: 32px 9px;
}
.form-file-claim{
    height: 39px;
    background-color: #f25a5a;
    display: flex;
    align-items: center;
    padding: 0 0 0 14px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    display: none;
}
.form-file-claim .file-text {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin-left: 10px;
}
.form-file-claim .file-remove{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}
.form-file-claim .fa-remove{
    background-color: #ce4d4d;
    color:#fff;
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
}
#ui-datepicker-div{
    background: #fff;
    width: 212px;
    height: 216px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 4px 4px 10px rgba(46, 47, 53, 0.2);
    display: none;
}
.ui-datepicker-header{
    background-color: #ff6963;
    height: 42px;
}
.ui-datepicker-prev{
    position:relative;
    float: left;
    text-align: left;
    height: 100%;
}
.ui-datepicker-prev .ui-icon:after{
    position:absolute;
    content:'\f104';
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: #ff6963;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font: normal normal normal 14px/1 FontAwesome;
}
.ui-datepicker-next{
    position:relative;
    float: right;
    text-align: right;
    height: 100%;
}
.ui-datepicker-next .ui-icon:after{
     position:absolute;
     content:'\f105';
     top:0;
     left:0;
     right:0;
     bottom:0;
    background-color: #ff6963;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font: normal normal normal 14px/1 FontAwesome;
 }
.ui-datepicker-title{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #fff;
}
.ui-datepicker-calendar{
    width:100%;
}
.ui-datepicker-calendar tr th{
    color: #b9b9b9;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    padding: 10px 0 10px 0;
    width: 25px;
}
.ui-datepicker-calendar tr td{
    padding: 6px 0 0 0;
    text-align: center;
    position: relative;
}
.ui-datepicker-calendar tr td a{
    color:#000;
    width:14px;
}
.ui-datepicker-calendar tr td a:hover{
    color: #fff;
    text-decoration: none;
}
.ui-datepicker-calendar tr td a:hover:before {
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    top: 3px;
    right: 0;
    left:  3px;
    bottom: 0;
    background: #ff6963;
    z-index: -1;
    border-radius: 50%;
}
.ui-datepicker-calendar tr .ui-datepicker-current-day a{
    color:#fff;
}
.ui-datepicker-current-day a:before {
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    top: 3px;
    right: 0;
    left:  3px;
    bottom: 0;
    background: #ff6963;
    z-index: -1;
    border-radius: 50%;
}
.page-claim #idSubmitClaim .btn-cancel {
    padding: 6px 15px;}
.page-claim #idSubmitClaim .btn-confirm {
    padding: 6px 14px;}
.page-claim .claim-delete{
    flex: 0 0 calc(100% - 31%);
    justify-content: flex-end;
}
#claims-info{
    display: block;
}
#claims-info .title{
    color: #000000;
    font-family: DINPro;
    font-size: 26px;
    font-weight: 400;
    line-height: 32px;
    text-transform: uppercase;
    text-align: left;
    margin: 0 0 4px 0;

}
#claims-info .data-content{
    text-align: left;
    color: #000000;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    display: flex;
    margin: 0 0 10px 0;
}
#claims-info .claim-date{
    line-height: 30px;
    margin: 0 0 5px 0;
}
#claims-info .claim-song{
    line-height: 40px;
    margin: 0;
}
#claims-info .data-title{
    opacity: 0.5;
    margin-right: 10px;

}
#claims-info .data-content p{
    flex: 0 0 83px;
}
#claims-info .data-content span{
    flex: 0 0 calc(100% - 96px);
}
#claims-info .modal-content{
    padding: 22px 30px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    min-height: 458px;
}
#claims-info .btn-close{
    display: flex;
    margin: 0;
}
#claims-info .btn-close .btn-cancel{
    margin: auto;
    background: #f25a5a;
    padding: 7px 17px;
}
#claims-info .data-content:last-child {
    margin: 0 0 3px 0;
}
#claim-delete .modal-content{
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 202px;
    padding: 22px 20px;
    max-width: 391px;
    width: 100%;
}
#claim-delete p.title-home-warning {
    color: #000000;
    font-family: DINPro;
    line-height: 32px;
    text-transform: uppercase;
    font-size: 26px;
    margin: 0 0 19px 0;
}
#claim-delete .btn-claim-cancel{
    margin: 0 0 0 27%;
}
#claim-delete .btn-confirm-detele{
    margin: 0 0 0 51%;
}
.page-claims .btn-add-claim:hover{
    color: #fff;
    text-decoration: none;
    background-color: #4395C9;
}
.page-home-song #id01 .btn{
    padding: 7px 20px;
    margin: 0 10px;
}
.home-orinal-material{
    display:none;
}
.home-confirm{
    text-align: left;
    font-size: 11px;
    margin-left: 28%;
}
.page-home-song #id01 p.title-home-warning {
    font-size: 26px;
    font-family: DinPro;
}
.content-agreement p.btn-agreement1 {
    max-width: 167px;
}
.content-agreement .modal-content-warning-agreement {
    width: 310px;
    padding-top: 27px;
    position: absolute;
    top: 0;
    bottom: 0;
    transform: translate(0 , -50%);
    left: 0;
    right: 0;
    margin: auto;
    min-height: 138px;
    display: table;
}
.content-add-song .check-agreement2{
    width: 100%;
}
.content-add-song .check-agreement2, .content-add-song .check-agreement span:first-child{
    margin-left: 0;
    left: 0;
    text-align: left;
    float: left;
}
.content-add-song .add-song-1 .check-agreement span:nth-child(2) {
    display: block;
    padding-left: 20px;
}
.content-add-song .modal{
    padding-top: 0;
}
.content-add-song .modal-add-contributor{
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    margin: auto;
}
